/*!
 * Silent Power Theme August 25, 2016
 * made by :nasser niazy mobasser
 * Silent Power all right reserved.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:  nassim;
	direction: rtl;
	overflow-x: hidden;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}


a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: nasim;
}

p {
    margin-bottom: 20px;
    font-size: 1.125em;
    line-height: 1.5;
}
.col-lg-6,.col-sm-6,.col-lg-5,.col-sm-5{
	padding:0;
}
.sec-nav-head{
	padding:0px
}
.sec-slider{
	padding:0px
}
.sec-text-head {
	padding:0px;
    background-color: #f5f5f5;
	
}

.sec-text-machin {
    background-color: #AEEA00;
	
}

.machin-img{
	border:0px; 
	background-color:transparent;
	margin-left: 40px;
}
.sec-text-news {
    background-color: #117ec3;
	border-top:2px solid #fff;
 
	padding-bottom:0px
}

.sec-text-film {
    background-color: #fff;
	padding:0px;
	margin:0px;
}

.sec-text-power {
    background-color: #35ddde;
	color:#fff;
	padding-top:30px;
	padding-left:10px;
	padding-right:60px;
	padding-bottom:60px;
	margin:0px;
}

.sec-text-footer{
	background-color: #ce1f58;
	color:#f9f9f9;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family:nassim;
	font-size:12pt; 
}
#footer-logo{
	width:100%;
	height:100%;
}
footer a{
	color:#aeea00;
	text-decoration:none;
}

.footer-right-column,.mail-title{	
	font-family:nassim;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

.news{
	padding:0px;
	margin:0px
}

.news li{
	padding-top: 20px;
    padding-bottom: 50px;
    list-style-type: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.news-title{
	font-family:nassim;
	font-weight:bold;
	font-size:2.813em;
	text-align:center;
	line-height:30px
}


.power-title{
	text-align:center;
	line-height:40px;
	font-size: 22pt;
	padding:0;
	border-bottom:1px solid #fff
}
.power-title h1{
	font-family:nassim;
	 
	font-size:3.250em
}
.tip-block
{
	padding-right:80px;
	    float: right;
    padding-top: 20px;
}
section  h1{
	font-size:20pt; 
}
 
.tips 
{
	font-family:nassim;
	font-size:0.875em;
}
.tips .number
{
	font-size:3.250em;
}

.news-header{
	font-family:nassim;
	font-weight:bold;
	font-size:2.550em;
	text-align:center;
	line-height:40px;
	padding-bottom:26px
}

.news-contet{
	font-family:nassim;
	font-size:0.750em;
	text-align:left;
	line-height:25px
}

section {
    padding: 60px 0;
}

.sec-register {
    padding: 0;
}

aside {
    padding: 50px 0;
} 
.no-padding {
    padding: 0;
}
.navbar-nav>li>a {
    padding: 5px;
}
.navbar-nav>li>a {
    padding: 5px;
    padding-left: 12px;
    line-height: 20px;
	font-family:nassim;
	font-size:0.813em
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #b8b9d5;
}

#mainNav{
	float:right
	
}

#logo{ 
	padding-top: 15px;
}

.navbar-nav>li>.dropdown-menu {
    right: auto;
    left:0 ;
	box-shadow:0 0 0 black;
	border:0px;
	border-radius: 0px;
	margin-top: 9px;
	
}
.dropdown-menu>li>a{
	padding:10px;
	text-align:right
}
.sub-menu li a{
	text-align:center
}
.brand-container{
	margin-top:64px; 
	height:70px; 
	float:right	;
	width:100%	
}
.carousel-caption h2{ 	
	font-family:nassim;
	font-size:2.500em;
	text-transform: uppercase;
}
.header-title{
	font-size:1.4em;
	font-family:nassim;
	color:#353c2e;
}
.head-col{
	padding-right:10px ;
	
 }
 .title{
	 font-family:nassim;
	 padding-bottom:41px;
	 font-size:2.625em;
 }

.strong-text{
	font-family:nassim;
	font-size:1.125em;
	text-align:right;
	padding-top:0px;
	padding-bottom:50px;
	padding-left:0px;
	padding-right:0px;
	line-height:35px;
	
}
.text-head{
	
	color:#000;
}

.regular-text{
	font-family:nassim;  
	text-align:right;
	color:#000;
	
    font-size: 1.000em;
    line-height: 30px;
}

.regular-text a {
	font-family:nassim;
	 color:#000
}
.regular-text a :fouc{
	    color:blue
}
.slider-spliter{
	background-image:url("../images/topNavBack.jpg");
	width:100%;
	height: 86px;
}
.ul{
	padding:0px
}

#mainNav{
	position: relative;
	margin:0px
}



.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: nassim;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family:nasim;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 0.813em;
    font-weight: 700;
    color: #222;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #fff;
}
.navbar-right{ 
	margin:0px
}
.navbar-collapse,.container-fluid,.navbar-nav{
	padding:0px;
}
.navbar{
	    min-height: 30px;
}
.small-menu{ 
	min-width:600px
}

.dropdown-menu { 
    background-color: #e7e7e7;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

 .navbar-nav>li {
    float: right;
}

.input-group{
	width: 90%;
    padding: 10px;
	right: 5%;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle
{
	
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.form-control{
	border: 1px solid #fff;
    border-radius: 20px;
    height: 40px;
    background-color: #35ddde;
    color: #d01a55;
}



input[type=text]::-webkit-input-placeholder {
	color: #d01a55 !important;
}
input[type=text]:-moz-placeholder {
	color: #d01a55 !important;
}

input[type=text]::-ms-input-placeholder {
	color: #d01a55 !important;
}
input[type=text]::-moz-placeholder {
	color: #d01a55 !important;
}
 

@media(min-width:768px) {
	
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #113d5b;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #113d5b;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #113d5b;
    }

    .navbar-default.affix {
       
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 0.875em;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
	.small-menu {
        min-width: 600px;
	}
	.small-menu {
        min-width: 200px;
	}
	 
	.mainNav{
		width:40%
	}
	.small-menu {
		min-width: 400px; 
	}
	.slider-spliter{
		display:none
	}
	#toggler{
		display:none;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form
	{
		padding-left: 10px;
		margin: 0px;
	}
	.carousel-caption{
		display:block;
	}
	.text-head{
		padding-left:10px;
		padding-right:10px; 
	}
	.sec-text-head{
		padding-top:35px
	}
	.sec-text-machin{
		padding-top:35px; 
		padding-left:2px; 
		padding-bottom:40px;
		padding-right:2px
	}
	
	.news li {
		padding-top: 10px;
		padding-bottom: 60px;
	}
	
	.sec-text-news { 
		padding-top:20px; 
	}
	
} 

@media(min-width:992px) {
   .small-menu {
        min-width: 600px;
	}
	.slider-spliter{
		display:none
	}
	.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
		font-size: 1.125em;
		margin-left: 5px;
	}
	#logo{
		width:90%;
		height:90%;
	}
	.text-head{
		padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
	}
	.sec-text-head{
		padding-top:65px
	}
	.sec-text-machin{
		padding-top:45px; 
		padding-left:2px; 
		padding-bottom:100px;
		padding-right:2px
	}
	
}
@media(min-width:1200px) {
	.navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
		font-size: 1.125em;
		margin-left: 10px;
	}
	
	.text-head{
		padding-left:20px;
		padding-right:20px; 
	}
	.sec-text-head{
		padding-top:65px
	}
	.sec-text-machin{
		padding-top:45px;  
		padding-left: 2px;
		padding-bottom: 90px;
		padding-right: 2px;
	}
	.sec-text-news { 
		padding-top:50px; 
	}
	
	.news li {
		padding-top: 20px;
		padding-bottom: 50px;
	}
}
@media(max-width:768px) {
   
	.slider-spliter{
		display:none
	}
	#mainNav{
		width:200px;
		z-index:100
	}
	#toggler{
		display:block;
		padding:15px;
		padding-left:20px
	}
	#footer-logo{
		width:50%;
		height:50%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form
	{
		padding-left: 10px;
		margin: 0px;
	}
	.sec-text-head,.text-head ,.{
		padding:10px;
	}
	.carousel-caption{
		display:none;
	}
	#logo{
		width:70%;
		height:70%;
	}
	
	.small-menu .navbar-collapse, .container-fluid, .navbar-nav{
		display:block;
	}
	.small-menu .navbar-nav>li>a{
		font-size:0.625em ; 
		line-height: 10px;
	}
	.small-menu {
        min-width: 70px;
	}
	#logo{
		display:block;
	}
	
	.text-head{
		padding-left:20px;
		padding-right:20px;
		padding-bottom:20px;
	}
	.sec-text-head{
		padding-top:65px
	}
	.sec-text-machin{
		padding-top:15px;  
		padding-left: 2px;
		padding-bottom: 20px;
		padding-right: 2px;
	}
	
	.sec-text-news { 
		padding-top:10px; 
	}
}
@media(max-width:470px) {
	#logo{
		display:none;
	}
}

